[submodule ".vim/bundle/emmet-vim"]
path = .vim/bundle/emmet-vim
url = https://github.com/mattn/emmet-vim
[submodule ".vim/bundle/fzf"]
path = .vim/bundle/fzf
url = https://github.com/junegunn/fzf
[submodule ".vim/bundle/nerdtree"]
path = .vim/bundle/nerdtree
url = https://github.com/preservim/nerdtree.git
[submodule ".vim/bundle/vim-commentary"]
path = .vim/bundle/vim-commentary
url = https://github.com/tpope/vim-commentary
[submodule ".vim/bundle/vim-fugitive"]
path = .vim/bundle/vim-fugitive
url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/vim-go"]
path = .vim/bundle/vim-go
url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/vim-javascript"]
path = .vim/bundle/vim-javascript
url = https://github.com/pangloss/vim-javascript
[submodule ".vim/bundle/vim-ripgrep"]
path = .vim/bundle/vim-ripgrep
url = https://github.com/jremmen/vim-ripgrep
[submodule ".vim/bundle/vim-vue"]
path = .vim/bundle/vim-vue
url = https://github.com/posva/vim-vue
[submodule ".vim/bundle/vim-vue-plugin"]
path = .vim/bundle/vim-vue-plugin
url = https://github.com/leafoftree/vim-vue-plugin
